.custom-checkbox {
    @include flex(center, flex-start);
    cursor: pointer;
    &:hover {
        color: $main-color;
    }
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    &__checkmark {
        margin-right: 10px;
        height: 15px;
        width: 15px;
        border: 1px solid $txt-second-color;
        .icon-check {
            transform: scale(0);
            transition: transform 0.3s ease;
        }
    }
    input:checked ~ &__checkmark {
        background-color: #1976d2;
        border: 1px solid #1976d2;
        color: $txt-white;
        .icon-check {
            transform: scale(1);
            transition: transform 0.3s ease;
        }
    }
}
