.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    @include tablet {
        flex-direction: column;
    }
}
.title-box {
    width: 500px;
    text-align: center;
    position: relative;

    @include tablet {
        margin-bottom: 60px;
    }
}
.title-box img {
    width: 235px;
    margin-bottom: -10px;
}
.title-box p {
    color: #000;
    font-size: 26px;
    font-weight: normal;
    line-height: 32px;
    padding-top: 20px;
}
.form-box {
    width: 350px;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    background: #fff;
    margin-left: 60px;
    box-shadow: 0px 2px 10px 1px rgba(71, 71, 71, 0.52);
    min-height: 350px;

    @include tablet {
        margin-left: 0;
    }

    .error {
        font-size: medium;
        color: rgb(233 87 73 / 2);
    }
    .button {
        display: flex;
        padding: 10px;
        padding-top: 0;
    }
}
.form-box .btn-submit {
    width: 100%;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    padding: 13px 0;
    cursor: pointer;
    background: #166fe5;
}
.form-box .btn-submit:hover {
    background: #1877f2;
}
.form-box a {
    color: #166fe5;
    font-size: 14px;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 20px;
    display: block;
}
.form-box a:hover {
    text-decoration: underline;
}
.form-box hr {
    border: 1px solid #dadde1;
    margin-bottom: 15px;
}
.form-box .create-btn a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 5px;
    background: #36a420;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 5px;
}
.form-box .create-btn a:hover {
    background: #42b72a;
}
