.profile__right {
    &__notification {
        display: flex;
        flex-direction: column;
        &__title {
            padding: 1.125rem 0;
            font-size: 1.125em;
            font-weight: 500;
            line-height: 1.5em;
            text-transform: capitalize;
            color: #333;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid rgba(0, 0, 0, 0.09);
        }

        &__list {
            .item {
                @include flex(center, space-between);

                margin: 10px 0;
                background: #f5f5f5;

                &__img {
                    width: 100px;
                    margin-right: 30px;

                    @include mobile {
                        margin-right: 10px;
                    }
                }

                &__content {
                    flex: 1;
                    padding-right: 10px;
                    @include flex(center, space-between);

                    @include tablet {
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: unset;
                    }

                    &__title {
                        padding: 10px;
                        @include tablet {
                            flex-direction: row;
                            padding: 5px 0;
                            label,
                            div {
                                font-size: 1.25rem;
                            }
                        }

                        @include mobile {
                            padding: 5px 0;
                        }

                        &__confirm {
                            color: $main-color;
                        }
                    }
                }

                &:hover {
                    background-color: #f3e9e9;
                }
            }
        }
    }
}
