.profile {
    @include flex(flex-start, space-between);

    &__right {
        &__user {
            &__title {
                border-bottom: 0.0625rem solid #efefef;
                padding: 1.125rem 0;

                h4 {
                    font-size: 1.125em;
                    font-weight: 500;
                    line-height: 1.5em;
                    text-transform: capitalize;
                    color: #333;
                }

                span {
                    margin-top: 0.1875em;
                    font-size: 0.875em;
                    line-height: 1.0625em;
                    color: #555;
                }
            }

            &__content {
                padding-top: 1.875rem;
                @include flex(flex-start, space-between);

                @include mobile {
                    flex-direction: column-reverse;
                    margin: auto;
                }

                &__info {
                    @include flex(flex-start, space-between);
                    flex-direction: column;
                    width: 60%;

                    @include mobile {
                        width: 100%;
                    }

                    &__item {
                        @include flex(center, flex-start);
                        margin-bottom: 1.875rem;
                        width: 100%;
                        height: 40px;

                        @include tablet {
                            font-size: 0.875em;
                        }

                        &__left {
                            text-align: right;
                            color: rgba(85, 85, 85, 0.8);
                        }

                        &__right {
                            padding-left: 20px;
                        }

                        span {
                            text-align: right;
                            color: rgba(85, 85, 85, 0.8);
                            text-transform: capitalize;
                            width: 30%;
                            padding-right: 20px;

                            @include tablet {
                                width: 40%;
                            }

                            @include mobile {
                                width: 40%;
                            }
                        }

                        div {
                            @include tablet {
                                overflow: hidden;
                            }

                            @include mobile {
                                overflow: hidden;
                            }
                        }

                        input {
                            width: 60%;
                            display: flex;
                            align-items: center;
                            background-color: #fff;
                            position: relative;
                            border-radius: 2px;
                            border: 1px solid rgba(0, 0, 0, 0.14);
                            box-sizing: border-box;
                            box-shadow: inset 0 2px 0 0 rgb(0 0 0 / 2%);
                            color: #222;
                            padding: 10px;
                            transition: border-color 0.1s ease;
                            font-size: 0.875em;

                            &:focus {
                                outline: none !important;
                                border: 1px solid $main-color;
                                box-shadow: 0 0 5px $main-color;
                            }
                        }
                    }
                }

                &__img {
                    width: 40%;
                    border-left: 0.0625rem solid #efefef;

                    @include flex(center, center);

                    flex-direction: column;

                    @include mobile {
                        flex-direction: row;
                        width: 100%;
                        justify-content: space-around;
                    }

                    img {
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        margin: 20px 0;
                    }
                    .button {
                        @include mobile {
                            @include flex(center, flex-start);
                            flex-direction: column;
                        }
                    }

                    .title {
                        margin-top: 10px;
                        color: #999;
                        font-size: 1.2rem;
                        line-height: 2rem;
                        @include mobile {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
