.profile {
    &__right {
        box-shadow: none;
        padding: 0 30px;

        &__purchase {
            &__tab {
                border-bottom: 1px solid rgba(0, 0, 0, 0.09);
            }

            &__search {
                width: 100%;
                padding: 20px;
            }
        }
    }
}
