.profile__right {
    background-color: white;

    &__title {
        padding: 1.125rem 0;
        font-size: 1.125em;
        font-weight: 500;
        line-height: 1.5em;
        text-transform: capitalize;
        color: #333;
    }

    &__search {
        width: 100%;
        margin: auto;
        padding: 20px;
        background: #f5f5f5;
        &__input {
            @include flex(center, center);
            &__btn {
                margin-left: 10px;
            }
        }
    }

    &__nav {
        @include mobile {
            justify-content: space-around;
        }
    }

    &__content {
        margin: 30px 50px 0px 50px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @include tablet {
            justify-content: center;
        }

        @include mobile {
            justify-content: center;
        }
    }
}
