.profile__right {
    &__search {
        width: 100%;
        margin: auto;
        padding: 20px;
        &__input {
            @include flex(center, center);
            &__btn {
                margin-left: 10px;
            }
        }
    }

    &__nav {
        @include mobile {
            justify-content: space-around;
        }
    }

    &__content {
        margin: 30px 50px 0px 50px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @include tablet {
            justify-content: center;
        }

        @include mobile {
            justify-content: center;
        }
    }
}
